<!doctype html>
<html>
<head>
	<title>Oauth2 Client Application</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>OAuth2 Client Application</h1>
	<h3>You need to do an SSO to access the protected resource.</h3>
	<div class="container">
		<a href="/oauth2/authorization/github" id="ssoBtn" class="btn btn-primary">GitHub SSO</a>
	</div>
</body>
</html>